@model City

@{
    ViewData["Title"] = "City - Create";
}
<div class="bg-light rounded p-5">
    <h1>@ViewData["Title"]</h1>

    <form asp-action="Create" method="post">
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input class="form-control" asp-for="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}