@model City

@{
    ViewData["Title"] = "City - Edit";
}
<h1>@ViewData["Title"]</h1>

<form asp-action="Edit" method="post">
    <div class="mb-3">
        <label class="form-label">
            Name
        </label>
        <input class="form-control" asp-for="Name">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>