@{
    ViewData["Title"] = "Administration Main Page";
}

<h1>@ViewData["Title"]</h1>

<div class="dropdown">
    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Main Page
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" asp-area="Admin" asp-controller="AdminPage" asp-action="Index">Main Page</a></li>
        <li><a class="dropdown-item" asp-area="Admin" asp-controller="Route" asp-action="Index">Route Administration</a></li>
        <li><a class="dropdown-item" asp-area="Admin" asp-controller="Vehicle" asp-action="Index">Vehicle Administration</a></li>
        <li><a class="dropdown-item" asp-area="Admin" asp-controller="Ticket" asp-action="Index">Ticket Administration</a></li>
        <li><a class="dropdown-item" asp-area="Admin" asp-controller="City" asp-action="Index">City Administration</a></li>
        <!--<li><a class="dropdown-item" asp-area="Admin" asp-controller="EveryEntity" asp-action="Index">All Entities Administration</a></li>-->
    </ul>
</div>