@model RouteInstance

@{
    ViewData["Title"] = "Route Instance - Create";
}
<h1>@ViewData["Title"]</h1>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label class="form-label">Route</label>
        <select class="form-control" asp-for="RouteID" asp-items="ViewBag.RouteID"></select>
        <span asp-validation-for="RouteID" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Date</label>
        <input class="form-control" asp-for="Date" type="date" value="@DateTime.Today.ToString("yyyy-MM-dd")">
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Departure Time</label>
        <input class="form-control" asp-for="DepartureTime" type="time" value="@DateTime.Now.ToString("HH:mm")">
        <span asp-validation-for="DepartureTime" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Arrival Time</label>
        <input class="form-control" asp-for="ArrivalTime" type="time" value="@DateTime.Now.ToString("HH:mm")">
        <span asp-validation-for="ArrivalTime" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}